.header {
  overflow: hidden;
  top:0;
  height: auto;
  width: 100%;
  background: lightblue;
  position: fixed;
}
.nav {
  margin: 40px 10px;
  float: right
}
.nav .a {
  margin: 20px;
  font-weight: bolder;
  color: black;
  text-decoration: none;
}
.hlogo {
float: left;
height: 100px;
width: auto;
}
body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#Home{
  margin-top: 100px;
  background-image: url("../img/garden-flower-leaf.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.article1 {
  display: block;
  background-color: rgba(242, 242, 242, 0.42);
  width: 40%;
  height: 50%;
  overflow: hidden;
  margin-left: 2%;
}
.paragraphe1 {
  text-align: justify;
  text-align-last: left;
  width: 70%;
  max-height: 50%;
  display: block;
  margin: auto;
  font-style: italic;
  font-weight: bolder;
}
.titre1 {
  text-align: center;
  font-weight: bolder;
}
.bouton {
  margin-left: 15%;
  display: inline-block;
  margin-top: 5%;
  border: 2px solid lightblue;
  background-color: lightblue;
  color: black;
  box-shadow: 2px 2px 2px black;
  font-weight: bolder;
  padding: 5px 7px;
  text-decoration: none;
  opacity: 1;
}
.div {
  width: 100%;
  height: 40%;
}
#Product {
  height: 500px;
  width: 100%;
  background: radial-gradient(ellipse at center, #E8E8E8 0%, #F3ECEC 45%, lightblue 100%);
  overflow: hidden;
}
.titre2 {
  height: 25%;
  text-align: right;
  margin-right: 2%;
}
.strut, .titre2enfant {
display: inline-block;
}
.strut{
  height:100%;
  vertical-align:middle;
}
.cards {
  height: 50%;
  width:100%;
}
.card {
  display: inline-block;
  width: 20%;
  margin: auto;
  height: 96%;
  overflow: hidden;
  margin-left: 2.35%;
  margin-right: 2.35%;
  background-color: #E8E8E8;
  box-shadow: 2px 2px 2px grey;
  transition: transform 1s;
}
.card:hover {
    transform: rotate(360deg);
}
.cardimg {
  width: 96%;
  height: 75%;
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  overflow: hidden;
}
.cardimg img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}
.h3 {
margin-left: 1%;
margin-right: 0%;
}
.prix {
  margin-right: 1%;
  margin-left: 0%;
  text-align: center;
  border: 2px outset grey;
  box-shadow: 2px 2px 2px grey;
  background-color: lightblue;
  color: black;
  font-weight: bolder;
  padding: 2px;
  transition: transform 0.25s;
}
.prix:hover {
  background-color: pink;
  color: red;
  font-style: oblique;
  font-weight: bolder;
  border: 2px outset pink;
  box-shadow: 2px 2px 2px black;
  transform: rotate(5400deg);
}
.cardinfo > * {
  display: inline-block;
  width: 46%;
}
.cardinfo {
  margin-right: 1%;
  margin-left: 1%;
}
#store {
  height: 500px;
  width: 100%;
  background-image: url("../img/home1.png");
  background-size: cover;
}
.div2 {
  width: 100%;
  height: 46%;
}
.article2 {
  display: block;
  width: 40%;
  height: 50%;
  float: right;
  background-color: rgba(242, 242, 242, 0.42);
  overflow: hidden;
  margin-right: 2%;
}
.titreh2 {
  text-align: center;
  font-weight: bolder;
}
.paragraphe2 {
  text-align: justify;
  text-align-last: right;
  width: 70%;
  max-height: 50%;
  display: block;
  margin: auto;
  font-style: italic;
  font-weight: bolder;
}
.mail {
  display: inline-block;
  margin-left: 37%;
}
.article2 img {
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 2%;
  height: 40px;
  width: 40px;
}
.test {
  display: inline-block;
  text-align: center;
  width: 100%;
}
#contact {
  height: 500px;
  width: 100%;
  background-color: rgba(46, 138, 61, 0.3);
}
.divcontact {
  height: 15%;
  width: 100%;
}
.formulaire {
  width: 55%;
  height: 70%;
  background-color: rgba(242, 242, 242, 0.42);
  margin-left: auto;
  margin-right: auto;
}
footer {
  overflow: hidden;
  height: 100px;
  width: 100%;
  background: rgb(245, 240, 240);
}
.nav2 {
  margin: 39.5px 10px;
  float: left;
  font-weight: bolder;
}
.a2 {
  height: 100px;
}
.icones {
  margin-top: 34px;
  margin-bottom: 34px;
}
.nav3 .adroite {
  font-weight: bolder;
  margin: 20px;
}
.adroite {
  float:right;
}
.ligne1, .ligne2, .text {
  width: 100%;
  text-align: center;
}
#message, #email, #nom {
  width: 90%;
  border-radius: 0;
  font-family: sans-serif;
  font-weight: normal;
  font-size: initial;
}
#nom, #email, #envoyer {
  padding-top: 1%;
  padding-bottom: 1%;
}
#message {
  height: 100%;
}
#envoyer {
  border-radius: 0;
  font-family: sans-serif;
  font-weight: normal;
  font-size: initial;
  color: grey;
  float:right;
}
.ligne1 {
  padding-top: 4.5%;
  height: 8%;
}
.ligne2 {
  height: 8%;
}
.ligne2, .text {
  padding-top: 2%;
}
.submit {
  height: 8%;
  width: 91%;
  margin: auto;
}
.text {
  padding-bottom: 1.2%;
  height: 43%;
}
