@font-face {
	font-family: "Good night";
	src: url('../fonts/Good-night.ttf') format('truetype');
}
.header {
  overflow: hidden;
  top:0;
  height: auto;
  width: 100%;
  background: lightblue;
  position: fixed;
}
.nav {
  margin: 40px 10px;
  float: right
}
.nav .a {
  margin: 20px;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  font-family: "Good night", sans-serif;
}
.hlogo {
float: left;
height: 100px;
width: auto;
}
body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-image: url("../img/patternMosa6.jpg");
  font-family: 'Noto Sans', sans-serif;
}
section {
  margin-top: 140px;
  margin-left: 12%;
  margin-right: 12%;
  text-align: justify;
  margin-bottom: 20px;
}
footer {
  overflow: hidden;
  height: 100px;
  width: 100%;
  background: rgb(245, 240, 240);
}
.nav2 {
  margin: 39.5px 10px;
  float: left;
  font-weight: bolder;
}
.a2 {
  height: 100px;
}
.icones {
  margin-top: 34px;
  margin-bottom: 34px;
}
.nav3 .adroite {
  font-weight: bolder;
  margin: 20px;
}
.adroite {
  float:right;
}
